* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr: #17191f;
  --run: rgb(4, 255, 242);
  --run-1:rgb(1, 141, 134); /*نفس الون لاعلى فقط مخفف*/
  --tex: rgb(255, 255, 255);
  --box: #20232a;
}

body {
  font-family: 'Tahoma', sans-serif;
  overflow-x: hidden;
  background-color: var(--box);
  user-select: none
}
.ime {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
}

.ime img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--run);
  font-size: 64px;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.877);
}
/* شريط التنقل */



@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: var(--box);
    padding: 10px;
    position: absolute;
    right: 0;
    top: 90px;
  }
}

/* السلايدر */
.slider-container {
  direction: ltr;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-top: 3.5rem;
}


.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(3, 3, 3, 0.692), rgba(8, 8, 8, 0.233));
  z-index: 1;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.active {
  background: var(--run);
  transform: scale(1.3);
}

.slider-container .left,
.slider-container .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 100%;
  cursor: pointer;
}

.slider-container .left { left: 0; }
.slider-container .right { right: 0; }
/* تنسيق الصندوق */
.axe {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  margin-top: 12rem;
  background-color: var(--box);
  border-radius: 15px;
  box-shadow: 0 4px 20px var(--tex);
  text-align: right;
}

/* العنوان */


.axe h3 {
  color: var(--run);
  font-size: 5rem;
  margin-bottom: 20px;
}

/* القائمة */
ul {
  list-style-type: square;
  padding-right: 5vh;
}

li {
  font-size: 28px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  list-style-type: none; 
}

/* العنوان */
 h2 {
  color: var(--run);
  font-size: 5rem;
  margin-top: 16rem;
  margin-right: 0.5%;
  width: 100ù;
}
.slide-from-right {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 0.3s;
}

.show-on-scroll {
  opacity: 1;
  transform: translateX(0);
}
/* النص */
.cla1 {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr);
  padding: 2rem 10px;
  gap: 2rem;
  position: relative; /* مهم في بعض الحالات */
  user-select: none;
}


.cla1 .text {
  flex: 1;
  min-width: 300px;
}

.cla1 pre {
  font-size: 1.2rem;
  color: var(--tex);
  font-weight: bold;
  white-space: pre-wrap; /* يسمح بكسر السطور تلقائيًا */
}

.cla1 span {
  color: var(--run);
  font-size: 2rem;
}

.cla1 .image1 {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.cla1 .image1 img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  pointer-events: none;
}

/* مؤثرات الدخول */

.slide-from-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 0.3s;
}

.slide-from-right {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 0.3s;
}

.show-on-scroll {
  opacity: 1;
  transform: translateX(0);
}

/* شريط التمرير */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--box);
}

::-webkit-scrollbar-thumb {
  background: var(--run);
  border-radius: 10px;
}




.image-container {
  position: relative;
  display: inline-block; /* لتحديد المساحة المحيطة بالصورة */
  margin:  50px 10%;
  width: 100%;
  user-select: none;
}

.image {
  rotate: 50deg;
  width: 50%; /* تأكد من أن الصورة تغطي المساحة بالكامل */
  height: auto; /* الحفاظ على النسب */
  filter: hue-rotate(0deg) brightness(0.8) contrast(1.2);
}

.text-overlay {
  margin-top: 50%;
  transform: translate(-50%, -50%); /* لجعل النص في المنتصف تمامًا */
  color: var(--tex); /* لون النص */
  font-size: 7rem; /* حجم النص */
  font-weight: bold; /* جعل النص عريضًا */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* إضافة تأثير الظل للنص */
}

.background {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("women.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 8%;
  max-width: 100%;
  height: 90vh;
  margin: auto;
}

.subscribe-text {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
  color: rgb(0, 0, 0);
}

.subscribe-button {
  background-color: red;
  color: rgb(59, 59, 59);
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5%;
  transition: background-color 1s ease;
}
.subscribe-button:hover {
  background:var(--run-1);
  color: var(--run);
}
.slide-from-right {
  opacity: 0;
  transform: translateX(90px);
  transition: transform 1s ease, opacity 1s ease;
  transition-delay: 0.3s;
}

.show-on-scroll {
  opacity: 1;
  transform: translateX(0);
}



@media (max-width: 768px) {
  .subscribe-section {
    flex-direction: column;
    text-align: center;
  }
  .subscribe-button {
    margin-top: 20px;
  }
}


footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 5rem;
}
.footer-links {
  margin-bottom: 10px;
}
.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
.titel{
  margin: 2% 25%;
}
.titel h2{
  color: var(--run);
  font-size: 6rem;
  box-shadow: 0px 0px 80px var(--run);
  border-radius: 20px;
  padding: 0 5%;
}
html {
  scroll-behavior: smooth; /* التمرير السلس */
}
.box {  
  margin-top: 20vh;
  margin-right: 12%;
    position: relative;  
    width: 75%;   /* 👈 العرض أكبر باش تولي مستطيل */
    height: 75vh;  /* 👈 الطول أصغر */
    display: flex;  
    justify-content: center;  
    align-items: center;  
    background-color: var(--clr);  
    border-radius: 20px;  
    overflow: hidden;
}  

.box h4 {  
    color: var(--box);  
    font-size: 2.5em; 
    z-index: 2;
    text-align: center;
    white-space: pre-wrap;
}  

.box::before {  
    content: '';  
    position: absolute;  
    width: 200px;
    height: 234%;
    background: linear-gradient(#00ccff,#d500f9 );  
    animation: rotate 6s linear infinite;  
  will-change: transform;
  transform-origin: center;
}  

.box::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: var(--box);
    border-radius: 16px;
    z-index: 1;
}

@keyframes rotate {  
    from { transform: rotate(0deg); }  
    to { transform: rotate(360deg); }  
}